8_XML中Schema的元素和数据类型/demo10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema file:/Users/yuandarong/sth/xngr-editor/types/XML%20Schema/Validation/XMLSchema.xsd">
	<xsd:element name="book" type="bookType"></xsd:element>
	<xsd:complexType name="bookType">
		<xsd:sequence>
			<xsd:element name="bookName" type="xsd:string"></xsd:element>
			<xsd:element name="author" type="xsd:string"></xsd:element>
			<xsd:element name="price" type="xsd:float"></xsd:element>
	          </xsd:sequence>
	</xsd:complexType>
</xsd:schema>
